.wrapper {
    position: relative;
    height: 40px;

    & label {
        clip: rect(0 0 0 0);
        clip-path: inset(50%);
        height: 1px;
        overflow: hidden;
        position: absolute;
        white-space: nowrap;
        width: 1px;
    }

    & .innerWrapper {
        position: relative;
        height: 100%;

        & > input,
        & > textarea {
            height: 100%;
            width: 100%;
            padding: 0 12px;
            border: 1px solid var(--secondary);
            border-radius: var(--border-radius);
            background-color: var(--secondary-20);
            color: var(--secondary);

            &::placeholder {
                color: var(--secondary);
            }
            &:focus {
                outline: 1px solid var(--secondary);
            }
        }

        & > textarea {
            padding: 12px;
        }

        & button {
            position: absolute;
            top: 50%;
            right: 12px;
            transform: translateY(-50%);
            height: 40%;
            border: none;
            background-color: transparent;
            padding: 0;
            transition: 0.2s;
            cursor: pointer;

            & svg {
                height: 100%;

                & path {
                    fill: var(--secondary);
                }
            }
        }
    }
}

.fullHeight {
    height: 100%;
}

.helperText {
    margin-bottom: 30px;

    & .text {
        display: block;
        position: absolute;
        bottom: 0;
        right: 0;
        transform: translateY(calc(100% + 4px));
        font-size: 12px;
    }
}

.error {
    & input {
        border-color: var(--error);
    }

    & .text {
        color: var(--error);
    }
}
