.wrapper {
    padding: 10px 14px;
    border-radius: var(--border-radius);
    border: none;
    background-color: var(--secondary);
    color: var(--primary);
    cursor: pointer;

    &:disabled {
        opacity: 0.4;
        cursor: default;
    }
}

.fullWidth {
    width: 100%;
}
