@import 'common';

.wrapper {
    @include flex-center();
    align-self: center;
    flex-direction: column;
    gap: 20px;
    height: 100svh;
    width: 300px;

    .title {
        display: flex;
        font-size: 36px;
        gap: 10px;

        & .hidden {
            display: none;
        }
    }
}
