@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300;1,400&display=swap');
@import 'common';

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html,
body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
    background-color: var(--primary);
}

input,
button,
textarea,
select {
    font: inherit;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    padding: 0;
}

a {
    text-decoration: none;
}

.Modal {
    position: absolute;
    top: 50%;
    left: 50%;
    @include flex-column();
    gap: 30px;
    padding: 30px;
    border-radius: 10px;
    width: 80vw;
    background-color: var(--primary);
    color: var(--secondary);
    transform: translate(-50%, -50%);

    @include mq(md) {
        gap: 40px;
        width: auto;
        padding: 50px;
    }

    & .title {
        margin-right: 30px;
        color: var(--secondary);
    }
}

.Overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.8);
}

#__next {
    @include flex-column();
}
