:root {
    --primary: rgb(36, 36, 36);
    --secondary: rgb(217, 217, 217);
    --secondary-20: rgba(217, 217, 217, 0.2);
    --error: rgb(112, 6, 6);
    --error-20: rgba(112, 6, 6, 0.2);

    --border-radius: 8px;
}
