@import 'common';

.wrapper {
    display: grid;
    grid-template-columns: 36px 1fr 36px;
    gap: 30px;

    @include mq(md) {
        grid-template-columns: repeat(4, 1fr);
        margin-bottom: 30px;
    }

    .mainColumn {
        display: flex;
    }

    h1 {
        font-size: 26px;
        font-weight: 300;
        color: var(--secondary);
        text-align: center;

        @include mq(md) {
            grid-column: 2/4;
        }
    }

    & .buttons {
        display: flex;
        gap: 15px;

        &--right {
            display: flex;
            justify-content: flex-end;
        }
    }
}

.mobile {
    @include mq(md) {
        display: none;
    }
}

.desktop {
    display: none;

    @include mq(md) {
        display: grid;
    }
}

.searchbarMobile {
    grid-template-columns: 1fr;
}
