@import 'common';

.wrapper {
    height: 100svh;
    padding-bottom: 40px;

    @include flex-column();
    margin: 0 20px;

    @include mq(lg) {
        min-height: 900px;
        margin: 0 calc((100vw - 1000px) / 2);
    }

    & .heading {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 30px 0 50px;
        width: 100%;

        & .avatar {
            height: 50px;
            width: 50px;
            border-radius: 50%;
            background-color: var(--secondary);
        }
    }

    & .content {
        @include flex-column();
        overflow: hidden;
        height: 100%;
    }
}
