@import 'common';

.wrapper {
    @include flex-column();
    padding: 18px;
    border: none;
    border-radius: 10px;
    background-color: var(--secondary);
    transition: 0.2s;

    &:hover,
    &:focus {
        scale: 0.97;
        cursor: pointer;
    }

    & .title {
        color: var(--primary);
    }
}
